@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base: #f5f0f0;
  --text: #4c4f69;

}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --base: white;
  }
}
*/

body {
    background: var(--base);
    color: var(--text);

    max-width: 700px;
    margin: auto auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
