@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

:root {
  --background: #f5f0f5;
  --text: #4c4f69;
  --primary: #733fd5;
  --secondary: #a67ef1;
  --accent: #8f66db;
  --font-inter: ${inter.style.fontFamily};
}

[data-theme='dark'] {
  --background: #1c1c1e;
  --text: #dedede;
  --primary: #733fd5;
  --secondary: #a67ef1;
  --accent: #8f66db;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inter), Arial, sans-serif;

  max-width: 700px;
  margin: auto auto;
}

@media screen and (max-width: 700px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
