@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

:root {
  --background: oklch(96.2% 0.018 272.314); /* Indigo 50 */
  --text: oklch(37% 0.013 285.805); /* Zinc 900 */
  --primary: oklch(45.7% 0.24 277.023); /* Indigo 700 */
  --secondary: oklch(67.3% 0.182 276.935); /* Indigo 400 */
  --accent: oklch(51.1% 0.262 276.966); /* Indigo 600 */
  --font-inter: ${inter.style.fontFamily};
}

[data-theme='dark'] {
  --background: #1c1c1e;
  --text: #dddddd;
  --primary: oklch(45.7% 0.24 277.023); /* Indigo 700 */
  --secondary: oklch(67.3% 0.182 276.935); /* Indigo 400 */
  --accent: oklch(51.1% 0.262 276.966); /* Indigo 600 */
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inter), Arial, sans-serif;

  max-width: 700px;
  margin: auto auto;
}

@media screen and (max-width: 700px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
